.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px; 
    width: 100%;
}

.submit-btn {
    background-color: rgb(14, 175, 151);
    border: solid 1px rgb(14, 175, 151);
    width: 100%;
    border-radius: 5px;
    color: white;
    outline: none;
}

.input {
    width: 100%;
    border-radius: 10px;    
    outline: none;
    padding: 5px;
    height: auto;
}

.input > textarea {
    resize: none;
}